@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');

html,
body,
#root,
.app,
.content {
   width: 100%;
   font-family: 'Source Sans Pro', sans-serif;
}
.content {
   overflow: hidden;
}
.app {
   display: flex;
   position: relative;
}

/* Scrollbar styling */
::-webkit-scrollbar {
   width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
   bakcground: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
   background-color: #888;
}

/* Handle on hover */
::-webkit-scrollbar-track:hover {
   background-color: #555;
}

@keyframes swing {

   0%,
   30%,
   50%,
   70%,
   100% {
      transform: rotate(0deg);
   }

   10% {
      transform: rotate(10deg);
   }

   40% {
      transform: rotate(-10deg);
   }

   60% {
      transform: rotate(5deg);
   }

   80% {
      transform: rotate(-5deg);
   }
}

.ps-menu-button:hover .ps-menu-icon svg {
   -webkit-animation: swing .5s ease-in-out 1 alternate;
   animation: swing .5s ease-in-out 1 alternate;
}